<div class="container">
    <h2>Update Employee Details</h2>
    <form (ngSubmit)="updateuser()" [formGroup]="updateForm">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" formControlName="name"  name="name">
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" formControlName="email"  name="email">
      </div>
      <div class="form-group">
        <label for="number">Number:</label>
        <input type="number" class="form-control" formControlName="number"   name="number">
      </div>
      <div class="form-group">
        <label for="homeaddress">Homeaddress:</label>
        <input type="text" class="form-control" formControlName="homeaddress"    name="Homeaddress">
      </div>
      <div class="form-group">
        <label for="Officeaddress">Officeaddress:</label>
        <input type="text" class="form-control"  formControlName="officeaddress"  name="officeaddress">
      </div>
 
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>