<div class="container">
    <h3>Create new employee</h3>
    <button class='btn btn-primary' (click)="onCreate()">Create</button>
    <h1>EmployeesAre</h1>
    <table
    border="2px">

    <thead>
         <th>Name</th>
         <th>Email</th>
         <th>MobileNumber</th>
         <th>About</th>
    </thead>

    <tbody>
        <tr *ngFor="let x of Employeeslist">
             <td>{{x.name}}</td>
             <td>{{x.email}}</td>
             <td>{{x.number}}</td>
             <td style="color:red" (click)="onSelect(x)">More information about employee</td>
        </tr>
    </tbody>

</table>    





</div>
