

<div class="container">

<h1>Details of the employee</h1>
    <table
    border="2px">

    <thead>
         <th>Name</th>
         <th>Email</th>
         <th>MobileNumber</th>
         <th>Homeaddress</th>
         <th>Officeaddress</th>
    </thead>

    <tbody>
        <tr>
             <td>{{employeedetails.name}}</td>
             <td>{{employeedetails.email}}</td>
             <td>{{employeedetails.number}}</td>
             <td>{{employeedetails.homeaddress}}</td>
             <td>{{employeedetails.officeaddress}}</td>
             
        </tr>
    </tbody>
    <button class="btn btn-primary" (click)="updateuser()">Edit</button>
    <button class="btn btn-danger" (click)="deleteuser()">Delete</button>

</table>   